.background {
  background-color: #f4f3ef;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin: 50px 0;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.heading.visible {
  opacity: 1;
  transform: translateY(0);
}

.experienceContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experienceCard {
  background-color: white;
  border-left: 2px solid #cb9612;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  padding: 50px 20px;
  margin-bottom: 40px;
  text-align: center;
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.8s ease-out, transform 2s ease-out;
}

.experienceCard.visible {
  opacity: 1;
  transform: translateX(0);
}

.experienceField {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #cb9612;
}

.experienceTitle {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.4rem;
  text-align: center;
}

.experienceText {
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1rem;
}

.experienceAction {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #cb9612;
  padding: 0;
}

.viewAll {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #cb9612;
  border-bottom: 1px solid #cb9612;
  padding-bottom: 10px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.viewAll.visible {
  opacity: 1;
  transform: translateY(0);
}
