.background {
  width: 100%;
  height: auto;
  background-image: url("../../../../public/assets/secondbg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(239, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  justify-content: space-between;
}
.background h4 {
  margin: 50px 0 30px 0;
  color: #cb9612;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.1rem;
}
.background p {
  margin: 5px 0;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 0.9rem;
}
.background h2 {
  font-weight: 400;
  letter-spacing: 3px;
  margin: 60px 0 10px 0;
}

.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.inputContainer input {
  flex: 1;
  padding: 10px 40px 10px 15px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
}

.inputContainer button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inputContainer button svg {
  color: #cb9612;
  cursor: pointer;
}
.logos {
  margin: 20px 0 0 0;
  font-size: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.last {
  color: white;
  background-color: black;
  text-align: center;
}
.last p {
  font-size: 0.7rem;
  letter-spacing: 2px;
}