.first {
  width: 100%;
  height: 300px;
  background-image: url("../../../public/assets/aboutbg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(239, 234, 234);
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first h1 {
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 50px 0 20px 0;
  opacity: 0;
  transform: translateX(30px);
  animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.second {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.second p {
  color: #333333;
  width: 80%;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.third {
  background-color: #f5f4f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third h1 {
  margin: 0;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
}

.fifth {
  padding: 80px 0;
  color: #f1fbfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232020;
}
.fifth h1 {
  margin: 0 0 30px 0;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
}
.fifth p {
  padding: 0 20px;
  color: #e6e0e0;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1rem;
}
