.background {
  background-color: #f5f4f0;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2rem;
  text-align: center;
  width: 80%;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.heading.visible {
  opacity: 1;
  transform: translateY(0);
}

.resourceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.resourceCard.visible {
  opacity: 1;
  transform: translateY(0);
}

.resourceImage {
  margin-top: 50px;
  width: 200px;
}

.resourceTitle {
  letter-spacing: 1px;
  color: #333333;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 20px 0 0 0;
}
.resourceDescription {
  margin: 15px 0 0 0;
  color: #333333;
  width: 80%;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}
.resourceAction {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #cb9612;
  border-bottom: 1px solid #cb9612;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
