*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: black;
}

.App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
.link {
  text-decoration: none;
  color: inherit;
}
